@model CalculatorLibrary.ICalculation

@{
    ViewData["Title"] = "Calculator";
}

<form asp-action="RunCalculation">
    <div class="row">  
        <div class="text-center">
            <div class="form-group">
                <content>
                    <select name="FirstInput" value="FirstInput">
                        @for (int i = 0; i < 100; i++)
                        {
                            <option value="@i.ToString()">@i.ToString()</option>
                        }
                    </select>
                    <select name="Operator" value="Operator">
                        <option value=0>+</option>
                        <option value=1>-</option>
                        <option value=2>*</option>
                        <option value=3>/</option>
                    </select>
                    <select name="SecondInput" value="SecondInput">
                        @for (int i = 0; i < 100; i++)
                        {
                            <option value="@i.ToString()">@i.ToString()</option>
                        }
                    </select>
                </content>
            </div>
            <div class="form-group">
                <button type="submit" name="calculate" value="calculate">Calculate</button>
            </div>
            <div class="form-group">
                @if (@Model.ErrorMessage != null)
                {
                    <label for"error" style="color:red">@Model.ErrorMessage</label>
                }
            </div>
            <div class="form-group">
                <label for="result">Result</label>
                <input type="text" value=@Model.Result readonly />
            </div>
        </div>
    </div>
</form>

<form asp-action="GetPastCalculations">
    <button type="submit">See Past Results</button>
</form>